<link rel="stylesheet" href="/css/header.css">
<header>
    <div id="logo"><h2>Codial</h2></div>
    <div id="links">
        <ul>
            <% if(locals.user){%>
                <li><img src="<%=user.avatar%>" alt="" width="20" height="20"></li>
                <li><a class="text-deco-none" href="/">Home</a></li>
                <li><a class="text-deco-none" href="/user/profile/<%=locals.user.id%>"><%=locals.user.name%></a></li>
                <li><a class="text-deco-none" href="/user/signout">Sign out</a></li>
            <%}else{%>
                <li><a class="text-deco-none" href="/">Home</a></li>
                <li><a class="text-deco-none" href="/user/signin">Sign in</a></li>
                <li><a class="text-deco-none" href="/user/signup">Sign up</a></li>
            <%}%>
        </ul>
    </div>
</header>