<section>
    <div>
        <form method="post" action="/user/create-session">
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</section>